<!DOCTYPE html>
<html>
<head>
    <title>Libreria online</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript";></script>
</head>
<body>
    <h1>LIBROS-ORG</h1>
    <label >Buscar</label>
    <input type="text" placeholder="Nombre del libro" id = "busquedaLibro">
    <div id = "lista"> <p></p></div>

    {% for autor_libro  in  autores_libros%}
    <a href="{%url 'detalle_libro' autor_libro.fk_libro.slug %} "><h3>{{autor_libro.fk_libro.nombre}}</h3></a>
    <h5>{{autor_libro.fk_autor.nombre_completo}}</h6>
    {% endfor %}
    <script type="text/javascript">
     {% comment %}
         Codigo javascript para el Ajax
                $('#busquedProyecto').keyup(function(e){
                 consulta = $("#busquedProyecto").val();
                 $.ajax({
                 data: {'nombre': consulta},
                 url: '/proyecto/busqueda/',
                 type: 'get',
                 success : function(data) {
                         console.log(data[0].nombre);
                 },
                 error : function(message) {
                         console.log(message);
                      }
                 });
                });
     {% endcomment %}
     $('#busquedaLibro').keyup(function(event) {
         /* Act on the event */
         consulta = $('#busquedaLibro').val();
         $.ajax({
             url: '/busqueda/',
             type: 'get',
             data: {'nombre': consulta},
             success : function(data){
                    console.log(data);
                    object = data;
                    console.log(object)
                    var html = "<ul>" + object.nombre +"</ul>";
                    $('#lista').html(html);
             }
         });


     });

    </script>
</body>
</html>