<!DOCTYPE html>
<html>
<head>
    <title>Libreria online</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript";></script>
</head>
<body>
    <h1>LIBROS-ORG</h1>
    <label >Buscar</label>
    <input type="text" placeholder="Nombre del libro" id = "busquedaLibro">
    <div id = "lista"> </div>

    {% for autor_libro  in  autores_libros%}
    <a href="{%url 'detalle_libro' autor_libro.fk_libro.slug %} "><h3>{{autor_libro.fk_libro.nombre}}</h3></a>
    <h5>{{autor_libro.fk_autor.nombre_completo}}</h6>
    {% endfor %}


    <script type="text/javascript">
     $('#busquedaLibro').keyup(function(event) {

         consulta = $('#busquedaLibro').val();
         if ($('#busquedaLibro').val()){
         $.ajax({
             url: '/busqueda/',
             type: 'get',
             data: {'nombre': consulta},

             success : function(data){
                    var html = "" ;
                    for (var i=0; i < data.length ; i ++){
                         html = html +("<ul><a href='/detalle-libro/"+ data[i]['fields']['slug'] +"/'>" + data[i]['fields']['nombre'] +" </a></ul>");
                    }

                    console.log(html);
                    $('#lista').html(html);
             }
         });

         }else{
             $('#lista').remove();
         }
     });

    </script>
</body>
</html>